.ng-valid.ng-touched[type="email"]{
    border-bottom: 2px green solid;
}
.ng-invalid.ng-touched[type="email"]{
    border-bottom: 2px red solid;
}

.ng-valid.ng-touched[type="password"]{
    border-bottom: 2px green solid;
}
.ng-invalid.ng-touched[type="password"]{
    border-bottom: 2px red solid;
}