<h1 app-highlight 
    [defaultColor]="defaultColor"
    [initialColor]="initialColor">{{ user.firstName }} {{ user.lastName}}</h1>

<p *ngIf="user.isWorking==true; else ElseTemplate">Income  : <span [innerHTML]="user.income"></span></p>

<p *appUnless="user.isWorking">
    App Unless Income  : <span [innerHTML]="user.income"></span>
</p>
<ng-template #ElseTemplate>
    <p>{{ user.firstName }} is not working now!</p>
</ng-template>

<!--
    De-sugaring *ngIf
    
<ng-template [ngIf]="user.isWorking">
<p>Income  : <span [innerHTML]="user.income"></span></p>
</ng-template> -->

<p [ngClass]="myClasses">Date of Birth : {{ user.dob }}</p>
<em>
    Total Votes : {{ user.vote }}
    <input type="number" 
        [value]="user.vote"
        (change)="user.vote=$event.target.value">
        <br>
    <input type="number" [(ngModel)]="user.vote">
</em>