<h1 app-highlight 
    [defaultColor]="defaultColor"
    [initialColor]="initialColor">{{ user.firstName | uppercase }} {{ user.lastName | uppercase}}</h1>

<p *ngIf="user.isWorking==true; else ElseTemplate">
    Income  : <span [innerHTML]="user.income | currency : 'INR'"></span>
</p>

<!-- 
    Added Custom Structural Directive
    <p *appUnless="user.isWorking">
    App Unless Income  : <span [innerHTML]="user.income"></span>
</p> -->

<ng-template #ElseTemplate>
    <p>{{ user.firstName }} is not working now!</p>
</ng-template>

<!--
    De-sugaring *ngIf
    
<ng-template [ngIf]="user.isWorking">
<p>Income  : <span [innerHTML]="user.income"></span></p>
</ng-template> -->

<p [ngClass]="myClasses">
    Date of Birth : {{ user.dob | date :  'MM/dd/yyyy'}}
</p>
<em>
    Total Votes : {{ user.vote }}
    <input type="number" 
        [value]="user.vote"
        (change)="user.vote=$event.target.value">
        <br>
    <input type="number" [(ngModel)]="user.vote">
</em>
