<div class="container">
  <ul class="list-unstyled nav navbar-nav navbar-default">
    <li><a [routerLink]="['signin']">Login</a></li>
    <li><a [routerLink]="['pipe']">Pipe Demo</a></li>
    <li><a [routerLink]="['obs']">Observable</a></li>
    <li *ngIf="!authService.isAuthenticated()">
      <a [routerLink]="['register']">Register</a>
    </li>
    <li><a [routerLink]="['users']">Users</a></li>
    <li><a [routerLink]="['product']">Product</a></li>
    <li><a [routerLink]="['employee']">Employee</a></li>
    <li><a [routerLink]="['lazy']">Lazy Link</a></li>
  </ul>

</div>

<div class="container">
  <h1>
    First App 
    <button 
      (click)="onLogout()" 
      class="btn btn-sm btn-danger"
      *ngIf="authService.isAuthenticated()">
        Logout</button>
  </h1>

  <hr>

  <!-- <app-observable-demo></app-observable-demo> -->
  <!-- 
    <app-register></app-register>
  <app-signin></app-signin> 
-->

  <!-- <app-pipe-demo></app-pipe-demo> -->


  <router-outlet></router-outlet>

  <hr>
  <input type="text" [(ngModel)]="title">
  <!-- <app-user [title]="title"></app-user> -->
</div>