<!-- 
{{ users | json }} -->


<div class="container">
    Counter in User :: {{ dataService.counter }}
    <button (click)="increase()">Increase</button>
</div>

<div class="container">
    <ul class="list-unstyled">
        <li class="well row" *ngFor="let user of users; index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd;">
            <div class="col-xs-2 col-sm-2 col-md-2">
                <!-- #{{ i }} Is This Even ? {{ isEven }} -->
                <app-user-image [user]="user"
                    (childEvent)="moreInfo($event)">
                </app-user-image>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10">
               <app-user-info [user]="user">
               </app-user-info>
            </div>
        </li>
    </ul>
</div>